@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
    background-color: black;
    color: white;
    font-family: 'Architekt', sans-serif;

    background: black;
    background-image:
        linear-gradient(rgba(17, 17, 17, 0.705) .1em, transparent .1em),
        linear-gradient(90deg, rgba(17, 17, 17, 0.705) .1em, transparent .1em);
    background-size: 9em 9em;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1%;
    padding-bottom: 1%;
    column-gap: 15%;
    border-bottom: 1px solid white
}

.img {
    max-width: 70px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    gap: 25px;

}

.actions {
    display: flex;
}

.dim {
    color: #888888;
}

button {
    padding: 5px 15px 5px 15px;
    webkit-clip-path: polygon(8.45% 0px, 100% 0px, 100% 100%, 0px 100%, 0px 29.62%);
    clip-path: polygon(8.45% 0px, 100% 0px, 100% 100%, 0px 100%, 0px 29.62%);
}

.trade {
    color: black;
    background-color: white;
}

.mint {
    color: white;
    background-color: black;
}

@font-face {
    font-family: 'Architekt';
	src: url("/assets/fonts/NBR.otf");
}

@media (max-width: 800px) {
    .nav, .menu, .logo {
      flex-direction: column;
    }

    .logo {
        margin-bottom: 20px;
    }
  }
