@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
    background-color: black;
    color: white;
    font-family: 'Architekt', sans-serif;

    background: black;
    background-image:
        linear-gradient(rgba(17, 17, 17, 0.705) .1em, transparent .1em),
        linear-gradient(90deg, rgba(17, 17, 17, 0.705) .1em, transparent .1em);
    background-size: 9em 9em;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1%;
    padding-bottom: 1%;
    column-gap: 15%;
    border-bottom: 1px solid white
}

.img {
    max-width: 70px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    gap: 25px;
}

.actions {
    display: flex;
}

.dim {
    color: #888888;
}

button {
    color: black;
    background-color: white;
    padding: 5px 15px 5px 15px;
}

.glow {
    box-shadow: 0 0 43px .5px rgb(255, 255, 255);
}

.trade {
    webkit-clip-path: polygon(8.45% 0px, 100% 0px, 100% 100%, 0px 100%, 0px 29.62%);
    clip-path: polygon(8.45% 0px, 100% 0px, 100% 100%, 0px 100%, 0px 29.62%);
}

.mint {
    color: white;
    background-color: black;
}

.section {
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%
}

.section__title {
    font-size: 35px;
    margin-bottom: 5%;
}

.section__text {
    color: #888;
    font-size: 20px;
    margin-bottom: 5%;
}

.section1__image {
    margin-top: -14%;
}

.section3__content {
    margin-right: 25%;
}
.section3__image {
    margin-top: -10%;
    margin-left: -40%;
}

.section1__title {
    font-size: 35px;
}

.white_text {
    color:white;
}

.trade__button {
    padding: 10px 35px 10px 35px;
    webkit-clip-path: polygon(91.52% 0px, 99.99% 12px, 100% 100%, 0px 100%, 0px 0.2%);
    clip-path: polygon(91.52% 0px, 99.99% 12px, 100% 100%, 0px 100%, 0px 0.2%);
}

.section2__image {
    margin-right: 10%;
}

.section4__night {
    margin-right: 18%;
    text-align: center;
}

.section5 {
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
}

.section5__image {
    margin-top: -10%;
}

@font-face {
    font-family: 'Architekt';
    src: url("/assets/fonts/NBR.otf");
    font-display: swap;
}

@media (max-width: 800px) {
    .nav, .menu, .logo {
      flex-direction: column;
    }

    .logo {
        margin-bottom: 20px;
    }

    .section1__image,
    .section2__image,
    .section3__image,
    .section4__night
    {
        display: none;
    }
}
