<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <div class="nav">
    <div class="logo">
      <img class="img" src="/assets/images/nav_logo.svg" />
      Night.WIN
    </div>
    <div class="menu">
      <div class="dim">Docs</div>
      <div class="dim">Telegram</div>
      <div class="dim">Nightpaper</div>
      <button class="trade">Start Trading</button>
      <button class="mint">Mint Night</button>
    </div>
  </div>

  <div class="section1">
    <div>
      <div class="section1__title">
        Crypto Options
        <br> For Pulsechain
      </div>

      <div class="section1__text">
        Night is a unique new cryptocurrency
        that enables options on Pulsechain.
        Craft your options strategy and earn up to 100x

        <button class="trade">
          Start Trading
        </button>
      </div>
    </div>

    <div>
      <img class="trade-panel" src="/assets/images/trade_panel.png" />
    </div>

</body>

</html>
