<!DOCTYPE html>
<html lang="en">

<head>
	<title>Night.win: Options on Pulsechain</title>
	<link rel="icon" type="image/x-icon" href="{{ "/assets/images/favicon.ico" | relative_url }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="crypto options on Pulsechain">
	<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>

<body>
	<div class="nav">
		<div class="logo">
			<img width="150" height="150" alt="navigation logo" class="img" src="{{ "/assets/images/nav_logo.svg" | relative_url }}" />
			Night.WIN
		</div>
		<div class="menu">
			<div class="dim">
				<a href="https://docs.night.win/overview/welcome">Docs</a>
			</div>
			<div class="dim">
				<a href="https://t.me/+pu-cD-BEdMtmMWYx">Telegram</a>
			</div>
			<div class="dim">Nightpaper</div>
			<button class="trade">Start Trading</button>
			<button class="mint">Mint Night</button>
		</div>
	</div>

	<div class="section">
		<div>
			<div class="section__title">
				Crypto Options
				<br> For Pulsechain
			</div>
			<div class="section__text">
				Night is a unique new cryptocurrency
				that enables options on Pulsechain.
				Craft your options strategy and
				<span class="white_text">Earn up to 100X</span>
			</div>
			<div class="section__cta">
				<span class="glow">
					<button class="trade__button">Start Trading</button>
				</span>
			</div>
		</div>
		<div style="width: 180%;">
			<img width="1021" height="937" alt="trading view" class="section1__image" src="{{ "/assets/images/trade_panel.webp" | relative_url }}" />
		</div>
	</div>

	<hr>

	<div class="section">
		<div class="section2__image">
			<div class="section__title">
				Supported
				<br>
				Currencies:
			</div>
			<img width="1253" height="582" alt="supported currencies" src="{{ "/assets/images/supported_currencies.webp" | relative_url }}" />

			<div class="section__cta">
				<span class="glow">
					<button class="trade__button">Start Trading</button>
				</span>
			</div>
		</div>
		<div>
			<div class="section__title">
				Cryptocurrency
				<br> for Contrarians
			</div>
			<div class="section__text">
				Night is designed to provide outsided returns through options on
				Hex, Pls and other pulsechain tokens.
			</div>
			<div class="section__text">
				You only ever risk your initial principal, and can never be liquidated.
			</div>
			<div class="section__text">
				Night favors the bold. Earn up to 100x by taking bold,
				contrarian bets. Create downside insurance for your Pulsechain
				token portfolio, or craft your own strategy.
			</div>
		</div>
	</div>

	<hr>

	<div class="section">
		<div class=section3__content>
			<div class="section__title">
				A new way to trade crypto
			</div>
			<div class="section__text">
				Earn up to 100x on a single bet. Like Hex, The Night contract
				can always make winners whole and mint more Nmoney.
			</div>
			<div class="section__text">
				Night pays out Nmoney to those that bet wisely. Like an options
				contract, those that bet unwisely lose the premium they
				paid for the option.
			</div>
			<div class="section__text">
				<span class="white_text">The top 5% win 100X. Night creates whales from the boldest traders</span>
			</div>
			<div class="section__text">
				You don't need to bet muc to make big returns with night
			</div>
			<div class="section2__cta">
				<span class="glow">
					<button class="trade__button">Start Trading</button>
				</span>
			</div>
		</div>
		<div>
			<img width="1040" height="1003" alt="nmoney coin" class="section3__image" src="{{ "/assets/images/nmoney.webp" | relative_url }}" />
		</div>
	</div>

	<hr>

	<div class="section section5">
		<div class="section__title">
			A Token Supply Balanced By Black-Scholes
		</div>

		<div class="section__text">
			The Night algorithm hedges risk and and balances the Nmoney token Supply
			using nobel prize winning option pricing algorithms.
		</div>

		<div class="section__text">
			The Night algorithm controls the supply of Nmoney, allowing for fully decentralized option
			payouts. This lets winners cash out their positions after they successfuly end a bet.
		</div>

		<img width="1294" height="621" alt="simulation" src="{{ "/assets/images/simulation.webp" | relative_url }}" />
	</div>

	<hr>

	<div class="section">
		<div class="section4__night">
			<div>
				<img width="200" height="200" alt="night logo" class="section5__image" src="{{ "/assets/images/night.webp" | relative_url }}" />
			</div>

			<div class="section__cta">
				<span class="glow">
					<button class="trade__button">Mint Night Now</button>
				</span>
			</div>
		</div>

		<div>
			<div class="section__title">
				The Night Token
			</div>
			<div class="section__text">
				The Night token is the store of value and governance token
				of the night ecosystem.
			</div>
			<div class="section__text">
				With Night users earn 50% of all fees generated by the platform through staking.
			</div>
			<div class="section__text">
				Night is only available to mint for the first 180 days of the project launch.
			</div>
		</div>
	</div>

	<div class="nav">
		<div class="logo">
			<img width="150" height="150" alt="footer logo" class="img" src="{{ "/assets/images/nav_logo.svg" | relative_url }}" />
			Night.WIN
		</div>
		<div class="menu">
			<div class="dim">
				<a href="https://docs.night.win/overview/welcome">Docs</a>
			</div>
			<div class="dim">
				<a href="https://t.me/+pu-cD-BEdMtmMWYx">Telegram</a>
			</div>
			<div class="dim">Nightpaper</div>
			<button class="trade">Start Trading</button>
			<button class="mint">Mint Night</button>
		</div>
	</div>
</body>

</html>

<script>

	var string = `
	NNNNNNNN        NNNNNNNN  iiii                     hhhhhhh                     tttt                                                             iiii
N:::::::N       N::::::N i::::i                    h:::::h                  ttt:::t                                                            i::::i
N::::::::N      N::::::N  iiii                     h:::::h                  t:::::t                                                             iiii
N:::::::::N     N::::::N                           h:::::h                  t:::::t
N::::::::::N    N::::::Niiiiiii    ggggggggg   gggggh::::h hhhhh      ttttttt:::::ttttttt            wwwwwww           wwwww           wwwwwwwiiiiiiinnnn  nnnnnnnn
N:::::::::::N   N::::::Ni:::::i   g:::::::::ggg::::gh::::hh:::::hhh   t:::::::::::::::::t             w:::::w         w:::::w         w:::::w i:::::in:::nn::::::::nn
N:::::::N::::N  N::::::N i::::i  g:::::::::::::::::gh::::::::::::::hh t:::::::::::::::::t              w:::::w       w:::::::w       w:::::w   i::::in::::::::::::::nn
N::::::N N::::N N::::::N i::::i g::::::ggggg::::::ggh:::::::hhh::::::htttttt:::::::tttttt               w:::::w     w:::::::::w     w:::::w    i::::inn:::::::::::::::n
N::::::N  N::::N:::::::N i::::i g:::::g     g:::::g h::::::h   h::::::h     t:::::t                      w:::::w   w:::::w:::::w   w:::::w     i::::i  n:::::nnnn:::::n
N::::::N   N:::::::::::N i::::i g:::::g     g:::::g h:::::h     h:::::h     t:::::t                       w:::::w w:::::w w:::::w w:::::w      i::::i  n::::n    n::::n
N::::::N    N::::::::::N i::::i g:::::g     g:::::g h:::::h     h:::::h     t:::::t                        w:::::w:::::w   w:::::w:::::w       i::::i  n::::n    n::::n
N::::::N     N:::::::::N i::::i g::::::g    g:::::g h:::::h     h:::::h     t:::::t    tttttt               w:::::::::w     w:::::::::w        i::::i  n::::n    n::::n
N::::::N      N::::::::Ni::::::ig:::::::ggggg:::::g h:::::h     h:::::h     t::::::tttt:::::t                w:::::::w       w:::::::w        i::::::i n::::n    n::::n
N::::::N       N:::::::Ni::::::i g::::::::::::::::g h:::::h     h:::::h     tt::::::::::::::t ......          w:::::w         w:::::w         i::::::i n::::n    n::::n
N::::::N        N::::::Ni::::::i  gg::::::::::::::g h:::::h     h:::::h       tt:::::::::::tt .::::.           w:::w           w:::w          i::::::i n::::n    n::::n
NNNNNNNN         NNNNNNNiiiiiiii    gggggggg::::::g hhhhhhh     hhhhhhh         ttttttttttt   ......            www             www           iiiiiiii nnnnnn    nnnnnn
                                            g:::::g
                                gggggg      g:::::g
                                g:::::gg   gg:::::g
                                 g::::::ggg:::::::g
                                  gg:::::::::::::g
                                    ggg::::::ggg
                                       gggggg              `
	console.log(string);

	var string = `
		01111100 01010111 01100101 01101100 01100011 01101111 01101101 01100101 01111100 01100010 01110010 01101111 01110100 01101000 01100101 01110010 01111100
		01111100 01000100 01001101 01111100 01110100 01101000 01100101 01111100 01100011 01101111 01100100 01100101 01111100 00100010 01010011 01001011 01000101 01001100 01000101 01010100 01001111 01001110  01001011 01000101 01011001 00100010 01111100 01000000 01110010 01101001 01100011 01101011 01101110 01101001 01100111 01101000 01110100 01100011 01110010 01111001 01110000 01110100 01101111 01111100 00101101  01010010 01101001 01100011 01101011 01111100
	`
	console.log(string);
</script>
